<div class="container-fluid">
    <menu></menu>
    <div class="jumbotron" ng-controller="BienvenidaController as bienvenida">
        <h1>Aerolinea TNS</h1>
        <p>Señor Usuario, bienvenido a su aerolinea TNS, aqui podra reservar y comprar los tiquetes de sus vuelos asi como tambien consultar el estado de sus reservas.</p>
    </div>

    <div class="alert alert-dismissible alert-warning">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <h4>Atención!</h4>
        <p>Viaja al carnaval de Barranquilla con tarifas asombrosas.</p>
        <br />
        <p><a class="btn btn-primary btn-lg">Leer mas</a></p>
    </div>
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">Conoce nuestros paquetes turísticos LATAM Travel</h3>
        </div>
        <div class="panel-body">
            Elige tu destino y comienza a disfrutar hoy tus próximas vacaciones.
            <br />
        </div>
        <div class="panel-footer">
            <a href="#" class="btn btn-default">Colombia</a>
            <a href="#" class="btn btn-primary">Playa</a>
            <a href="#" class="btn btn-success">Sur America</a>
            <a href="#" class="btn btn-info">Estados Unidos</a>
            <a href="#" class="btn btn-warning">Europa</a>
        </div>
        <br />
    </div>
</div>