<div class="modal-header">
    <button type="button" class="close" ng-click="ok()"><span aria-hidden="true">&times;</span></button>
    <h4></h4>
</div>
<div class="modal-body">
    <div class="row">
        <div class="bg-modal-validacion-ico">
            <span class="icon-alert bg-modal-icon-alert"></span>
        </div>
        <div class="bg-modal-validacion-tex">
            <p>{{mensaje}}</p>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-success" ng-click="ok()">Aceptar</button>
</div>