<configuration>
  <configSections>
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog" />
  </configSections>
  <nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true">
    <targets>
      <default-target-parameters xsi:type="File" keepFileOpen="false" />
      <target name="asyncFile" xsi:type="AsyncWrapper" queueLimit="1000" overflowAction="Discard">
        <target xsi:type="File"
                name="logfile"
                fileName="${basedir}/Logs/${level}-${shortdate}.log"
                cleanupFileName="false"
                header="${appdomain} ${assembly-version}"
                layout="${newline}-------------------------------------${newline}Fecha: ${date:format=yyyy-MM-dd HH\:mm\:ss.fff} ${newline}${newline}${uppercase:${level}} ${longdate}${newline} Usuario: ${windows-identity}${newline} ${machinename}${newline}${callsite} ${newline} Message: ${message}${newline}${onexception:${exception:format=tostring,Data}${newline}${stacktrace}}" />
      </target>
    </targets>
    <rules>
      <logger name="*" minlevel="Warn" writeTo="asyncFile" />
    </rules>
  </nlog>
  <runtime>
    <gcServer enabled="true" />
  </runtime>
  <appSettings>
  </appSettings>
  <connectionStrings>
    <add name="AerolineaTnsEntities" connectionString="metadata=res://*/Model.AerolineaTns.csdl|res://*/Model.AerolineaTns.ssdl|res://*/Model.AerolineaTns.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=AerolineaTNS;persist security info=True;user id=tns;password=tN$u$er;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>