<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
  </appSettings>
  <connectionStrings>
    <add name="AerolineaTnsEntities" connectionString="metadata=res://*/Model.AerolineaTns.csdl|res://*/Model.AerolineaTns.ssdl|res://*/Model.AerolineaTns.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=AerolineaTNS;persist security info=True;user id=tns;password=tN$u$er;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>